.container-fluid{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
     min-width: 100%;
     background-image: url("https://assetsexplora.s3.amazonaws.com/assets/microRelatos/WEB/GLOBO-TEXTO-INTRO.png");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%; 
     height: auto;
     width: 50px;
}

textarea{
    background-color: #F8EBE3;
}

.imagen{
    margin-top: 5%;
}

.barra{
    width: 75%;
    padding-left: 25%;
}

.texto{
    margin-bottom: 2%;
    height: auto;
    overflow-x: hidden;
}

.iconoOtro{
position: absolute;
left: 0;
}

.iconoOtro2{
    position: absolute;
    left: -30px;
    }

    .iconSubeTuHistoria{
 margin-left: -25px;
          }  
        .iconoCompartir{  
            margin-left: -45px;    
            }

            .botonEditar:hover{
                cursor: pointer;
            }