<div *ngIf="!relatos" class="">
  <div *ngIf="!movil">
    <img class="degradadoIzq" src="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/DEGRADADO.png" />
    <img class="fixed-bottom decoracionFondo" src="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/DECOR1.png" />
    <img class="regresoCiudadEspejo" (click)="clickMenu(1)" src="https://assetsexplora.s3.amazonaws.com/assets/autores/ciudad espejo unpress.png" />
    <img class="logoSNL" src="https://assetsexplora.s3.amazonaws.com/assets/comun/LOGO-SNL.png" />
    <svg class="menuBar" viewBox="0 0 36 628">
      <image class="float-right" xlink:href="https://assetsexplora.s3.amazonaws.com/assets/comun/MENU WEB 2.png" width="100%" />
      <a xlink:href="#home" (click)="clickMenu(1)">
        <rect x="0" y="0" width="36" height="118" fill="rgba(0,0,0,1)" opacity="0" /></a>
      <a xlink:href="#autores" (click)="clickMenu(2)">
        <rect x="0" y="118" width="36" height="164" fill="rgba(0,0,0,1)" opacity="0" /></a>
      <a xlink:href="#microRelatos" (click)="clickMenu(3)">
        <rect x="0" y="282" width="36" height="177" fill="rgba(0,0,0,1)" opacity="0" /></a>
      <a xlink:href="#fisuras" (click)="clickMenu(4)">
        <rect x="0" y="459" width="36" height="156" fill="rgba(0,0,0,1)" opacity="0" /></a>
    </svg>

    <div class="row zBajo">
      <div class="col-5 headerAmbos zBajo">
        <div class="col-12 MedellinAmbos">
          <img class="img-fluid logoMedellinAmbos" src="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/NOMBRE FILTRO_PT.png" />
        </div>
        <div class="col-12 separadorAmbos">
          <img class="img-fluid" src="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/BARRA HORIZONTAL.png" />
        </div>
        <div class="col-12">
          <div class="text-left textoFragmentoAmbos">Dicen algunos que el fuego cayó del cielo. Dicen otros que apareció
            espontáneamente en toda la ciudad. Hay quienes aseguran que estuvo previsto desde hace siglos y que había
            gente esperando la llegada del fuego como quien espera a un dios terrible. Algo es seguro para los
            habitantes de este lado del espejo: la ciudad entera ardió aquella noche. Y cuando el fuego se extinguió por
            completo, los sobrevivientes contemplaron la destrucción y construyeron un mundo nuevo. Quedan las
            historias. ¡Conócelas!</div>
        </div>
        <div class="col-12">
          <div class="row">

            <div class="col-4">
              <br>
              <img class="img-fluid  rosaAmbos" src="https://assetsexplora.s3.amazonaws.com/assets/microRelatos/gifs/rosa2.png" />
            </div>
            <div class="col-3">
              <br>
              <img class="img-fluid align-middle eligeUnFragmentoAmbos" src="https://assetsexplora.s3.amazonaws.com/assets/autores/ELIGE UN FRAGMENTO.png" />
            </div>
          </div>

        </div>
      </div>
      <div class="col-5">

        <svg class="mapaAmbos" viewBox="0 -25 830 1063">
          <image class="img-fluid maximo" xlink:href="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/MAPAWEB.png" />
          <a xlink:href="#experimentacion" (click)="permitirRelatos(1)">
            <polygon points="415,0 558,0 585,64 585,95 466,180 420,144 382,40" fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#ecos" (click)="permitirRelatos(6)">
            <polygon points="550,260 516,222 528,180 676,115 788,124 830,182 750,228 588,282" fill="rgba(0,0,0,1)"
              opacity="0" /></a>
          <a xlink:href="#gardel" (click)="permitirRelatos(7)">
            <polygon points="468,252 530,263 586,300 586,405 476,413 439,316" fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#luna" (click)="permitirRelatos(3)">
            <polygon points="285,336 323,290 435,323 460,400 400,450 334,449" fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#culto" (click)="permitirRelatos(9)">
            <polygon points="414,465 612,438 646,438 660,522 610,578 563,570" fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#niña" (click)="permitirRelatos(5)">
            <polygon
              points="309,425 323,485 328,560 353,591 407,585 396,654 406,717 374,715 360,675 301,586 242,576 225,505"
              fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#mico" (click)="permitirRelatos(2)">
            <polygon
              points="336,518 336,518 389,461 458,503 468,575 525,640 604,689 552,790 457,748 412,685 419,567 353,576"
              fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#humo" (click)="permitirRelatos(0)">
            <polygon points="295,590 311,617 339,654 359,683 329,703 263,688 254,604" fill="rgba(0,0,0,1)"
              opacity="0" /></a>
          <a xlink:href="#patio" (click)="permitirRelatos(4)">
            <polygon points="36,749 179,764 251,778 288,813 287,854 190,917 83,874 27,787" fill="rgba(0,0,0,1)"
              opacity="0" /></a>
          <a xlink:href="#rio" (click)="permitirRelatos(8)">
            <polygon points="332,825 375,764 489,842 587,983 591,1025 506,1062 405,1054 364,993 371,862S"
              fill="rgba(0,0,0,1)" opacity="0" /></a>
        </svg>
      </div>
    </div>
  </div>

  <div *ngIf="movil">
    <ng-container *ngIf="orientacion=='portrait'">
      <img class="logoSNLMovil" src="https://assetsexplora.s3.amazonaws.com/assets/comun/LOGO-SNL.png" />

      <img class="fixed-bottom decoracionhomeMovil" src="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/DECOR1.png" />
      <img class="regresoCiudadEspejoMovil" (click)="clickMenu(1)" src="https://assetsexplora.s3.amazonaws.com/assets/autores/ciudad espejo unpress.png" />

      <svg class="menuHorizontal" viewBox="0 0 615 36">
        <image class="" xlink:href="https://assetsexplora.s3.amazonaws.com/assets/comun/MENU WEB 2H.png" width="100%" />
        <a xlink:href="#home" (click)="clickMenu(1)">
          <rect x="0" y="0" width="118" height="36" fill="rgba(0,0,0,1)" opacity="0" /></a>
        <a xlink:href="#autores" (click)="clickMenu(2)">
          <rect x="119" y="0" width="162" height="36" fill="rgba(0,0,0,1)" opacity="0" /></a>
        <a xlink:href="#microRelatos" (click)="clickMenu(3)">
          <rect x="283" y="0" width="174" height="36" fill="rgba(0,0,0,1)" opacity="0" /></a>
        <a xlink:href="#fisuras" (click)="clickMenu(4)">
          <rect x="458" y="0" width="155" height="36" fill="rgba(0,0,0,1)" opacity="0" /></a>
      </svg>

      <div class="dropdown">
        <img class="botonMasMenos" (click)="abrirTexto()" src="https://assetsexplora.s3.amazonaws.com/assets/autores/MENOS-TEXTO.jpg " *ngIf="permitirTexto">
        <img class="botonMasMenos" (click)="abrirTexto()" src="https://assetsexplora.s3.amazonaws.com/assets/autores/MAS-TEXTO.jpg " *ngIf="!permitirTexto">
        <div class="textoDesplegable text-left" *ngIf="permitirTexto">
          Dicen algunos que el fuego cayó del cielo. Dicen otros que apareció espontáneamente en toda la ciudad. Hay
          quienes aseguran que estuvo previsto desde hace siglos y que había gente esperando la llegada del fuego como
          quien espera a un dios terrible. Algo es seguro para los habitantes de este lado del espejo: la ciudad entera
          ardió aquella noche. Y cuando el fuego se extinguió por completo, los sobrevivientes contemplaron la
          destrucción y construyeron un mundo nuevo. Quedan las historias. ¡Conócelas!
        </div>
      </div>


      <img class="degradado fixed-bottom" src="https://assetsexplora.s3.amazonaws.com/assets/autores/RESPONSIVE VERTICAL/DEGRADADO-AZUL.png" />

      <div class="col-12">

        <svg class="mapaAmbosMovil fixed-top" viewBox="0 -25 830 1063">
          <image class="img-fluid maximo" xlink:href="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/MAPAWEB.png" />
          <a xlink:href="#experimentacion" (click)="permitirRelatos(1)">
            <polygon points="415,0 558,0 585,64 585,95 466,180 420,144 382,40" fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#ecos" (click)="permitirRelatos(6)">
            <polygon points="550,260 516,222 528,180 676,115 788,124 830,182 750,228 588,282" fill="rgba(0,0,0,1)"
              opacity="0" /></a>
          <a xlink:href="#gardel" (click)="permitirRelatos(7)">
            <polygon points="468,252 530,263 586,300 586,405 476,413 439,316" fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#luna" (click)="permitirRelatos(3)">
            <polygon points="285,336 323,290 435,323 460,400 400,450 334,449" fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#culto" (click)="permitirRelatos(9)">
            <polygon points="414,465 612,438 646,438 660,522 610,578 563,570" fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#niña" (click)="permitirRelatos(5)">
            <polygon
              points="309,425 323,485 328,560 353,591 407,585 396,654 406,717 374,715 360,675 301,586 242,576 225,505"
              fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#mico" (click)="permitirRelatos(2)">
            <polygon
              points="336,518 336,518 389,461 458,503 468,575 525,640 604,689 552,790 457,748 412,685 419,567 353,576"
              fill="rgba(0,0,0,1)" opacity="0" /></a>
          <a xlink:href="#humo" (click)="permitirRelatos(0)">
            <polygon points="295,590 311,617 339,654 359,683 329,703 263,688 254,604" fill="rgba(0,0,0,1)"
              opacity="0" /></a>
          <a xlink:href="#patio" (click)="permitirRelatos(4)">
            <polygon points="36,749 179,764 251,778 288,813 287,854 190,917 83,874 27,787" fill="rgba(0,0,0,1)"
              opacity="0" /></a>
          <a xlink:href="#rio" (click)="permitirRelatos(8)">
            <polygon points="332,825 375,764 489,842 587,983 591,1025 506,1062 405,1054 364,993 371,862S"
              fill="rgba(0,0,0,1)" opacity="0" /></a>
        </svg>
      </div>


      <div class="row">
        <div class="col-12">
          <img class="float-right fixed-bottom rosaAzulMovil" src="https://assetsexplora.s3.amazonaws.com/assets/microRelatos/gifs/rosa2.png" />
        </div>
        <div class="col-12">
          <img class="float-right fixed-bottom eligeUnFragmentoDerMovil"
            src="https://assetsexplora.s3.amazonaws.com/assets/autores/ELIGE UN FRAGMENTO RIGHT.png" />
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="orientacion=='landscape'">
      <div class="col-12">
        <img class="rotarCel" src="https://assetsexplora.s3.amazonaws.com/assets/comun/instruccion movil.png" />
      </div>
    </ng-container>
  </div>
</div>


<div *ngIf="relatos" class="">
  <div *ngIf="!movil">
    <img class="degradadoIzq" src="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/DEGRADADO.png" />
    <img class="fixed-bottom decoracionFondo" src="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/DECOR1.png" />
    <img class="regresoMedellin" (click)="permitirRelatos('0')" src="https://assetsexplora.s3.amazonaws.com/assets/autores/medellin unpress autores.png" />
    <img class="ciudadEspejoDer" src="https://assetsexplora.s3.amazonaws.com/assets/comun/LOGO_CE_PEQ.png" />
    <img class="logoSNL" src="https://assetsexplora.s3.amazonaws.com/assets/comun/LOGO-SNL.png" />

    <div class="text-justify contenedorRelatos">
      <div class="row">
        <div class="col-5">
          <img class="img-fluid imagenFragmento float-right" src="{{fragmentoActual.urlImagen}}" />
        </div>
        <div class="col-3 columnaTextoSecundario">
          <div class="col-12">
            <div class="textoOriginal font-italic text-right">{{fragmentoActual.textoOriginal}}</div>
          </div>
          <div class="col-12">
            <div class="float-right">
              <br>
              <span class="nombre">{{fragmentoActual.nombre}}</span>
              <span class="apellido font-italic">{{fragmentoActual.apellido}}</span>
            </div>
          </div>
          <div class="col-12">
          </div>
        </div>
        <div class="col-1">
          <img class="img-fluid barraSeparadora float-right" src="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/BARRA VERTICAL.png" />
        </div>

        <div class="col-3 contenedorTextoFragmento">
          <div class="textoFragmento text-left">{{fragmentoActual.textoFragmento}}</div>
        </div>
      </div>
    </div>

    <!-- FOOTER WEB -->
    <div class="container-fluid footerWeb" *ngIf="!movil">
      <div class="row text-center">
        <div class="col-12">
          <img id="bullet0" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
          <img id="bullet1" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
          <img id="bullet2" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
          <img id="bullet3" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
          <img id="bullet4" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
          <img id="bullet5" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
          <img id="bullet6" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
          <img id="bullet7" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
          <img id="bullet8" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
          <img id="bullet9" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
        </div>
        <div class="col-5">
          <img class="anteriorWeb float-right" (click)="siguienteFragmento('false')"
            src="https://assetsexplora.s3.amazonaws.com/assets/comun/BOTON ANTERIOR_UNPRESS.png" />
        </div>
        <div class="col-2 ">
          <img class="brujulaHomeWeb" (click)="permitirRelatos('1')" src="https://assetsexplora.s3.amazonaws.com/assets/microRelatos/gifs/rosa2.png" />
        </div>
        <div class="col-5">
          <img class="siguienteWeb float-left" (click)="siguienteFragmento('true')"
            src="https://assetsexplora.s3.amazonaws.com/assets/comun//BOTON SIGUIENTE UNPRESS.png" />
        </div>
        <div class="col-12">
          <img class="medellin" src="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/NOMBRE FILTRO_PT.png" />
        </div>
      </div>

    </div>
    <!-- FIN FOOTER WEB -->
  </div>



  <div *ngIf="movil">
    <ng-container *ngIf="orientacion=='portrait'">

      <img class="regresoMedellinMovil" (click)="permitirRelatos('0')"
        src="https://assetsexplora.s3.amazonaws.com/assets/autores/medellin unpress autores.png" />
      <img class="ciudadEspejoDerMovil" src="https://assetsexplora.s3.amazonaws.com/assets/comun/LOGO_CE_PEQ.png" />
      <img class="logoSNLMovil" src="https://assetsexplora.s3.amazonaws.com/assets/comun/LOGO-SNL.png" />

      <img class="degradado2 fixed-bottom" src="https://assetsexplora.s3.amazonaws.com/assets/autores/RESPONSIVE VERTICAL/DEGRADADO-AZUL.png" />


      <div class="row">
        <div class="col-12">
          <img class="img-fluid imagenFragmento" src="{{fragmentoActual.urlImagen}}" />
        </div>

        <div class="col-12 contenedorTextoFragmento">
          <div class="font-italic text-left textoOriginalMovil">{{fragmentoActual.textoOriginal}}</div>
          <br>
        </div>

        <div class="col-12 contenedorTextoFragmento">
          <div class="">
            <span class="nombreMovil">{{fragmentoActual.nombre}}</span>
            <span class="apellidoMovil font-italic">{{fragmentoActual.apellido}}</span>
          </div>
        </div>

        <div class="col-12 contenedorTextoFragmento">
          <br>
          <div class="textoFragmentoAmbosMovil text-left">{{fragmentoActual.textoFragmento}}</div>
          <br><br><br><br><br><br><br>
        </div>

      </div>

      <div class="container-fluid footerWeb">
        <div class="row text-center">
          <div class="col-12">
            <img id="bullet0" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
            <img id="bullet1" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
            <img id="bullet2" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
            <img id="bullet3" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
            <img id="bullet4" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
            <img class="brujulaHomeWeb" (click)="permitirRelatos('1')" src="https://assetsexplora.s3.amazonaws.com/assets/microRelatos/gifs/rosa2.png" />

            <img id="bullet5" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
            <img id="bullet6" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
            <img id="bullet7" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
            <img id="bullet8" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
            <img id="bullet9" class="bulletWeb" src="https://assetsexplora.s3.amazonaws.com/assets/autores/BULLET-VACIO.png" />
          </div>
          <div class="col-12">
            <img class="medellin" src="https://assetsexplora.s3.amazonaws.com/assets/autores/WEB/NOMBRE FILTRO_PT.png" />
          </div>
          <div class="col-5">
            <img class="anteriorWeb float-right" (click)="siguienteFragmento('false')"
              src="https://assetsexplora.s3.amazonaws.com/assets/autores/RESPONSIVE VERTICAL/ELEMENTOS ACTUALIZADOS/ANTERIOR.png" />
          </div>
          <div class="col-2 ">

          </div>
          <div class="col-5">
            <img class="siguienteWeb float-left" (click)="siguienteFragmento('true')"
              src="https://assetsexplora.s3.amazonaws.com/assets/autores/RESPONSIVE VERTICAL/ELEMENTOS ACTUALIZADOS/SIGUIENTE.png" />
          </div>
          <div class="col-12">
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="orientacion=='landscape'">
      <div class="col-12">
        <img class="rotarCel" src="https://assetsexplora.s3.amazonaws.com/assets/comun/instruccion movil.png" />
      </div>
    </ng-container>
  </div>
</div>