<!--Main Navigation-->
<header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="row">
      <div class="col-6">
        <img class="img-fluid logo1" src="assets/autores/WEB/LOGO CIUDAD ESPEJO.png"/>
      </div>
      <div class="col-6">
        <img class="img-fluid logo2 pull-right" src="assets/autores/WEB/NOMBRE FILTRO_SNL.png"/>
      </div>
  
    </div>

  </nav>

</header>
<!--Main Navigation-->

<div *ngIf="!relatos" class="container-flex">
    <div class="row text-center">
        <div class="col-12">
          <img class="img-fluid btn-group"  src="assets/vertical/MENU-HORIZONTAL---HOME.png"/>
        </div>      
      </div>
      <div class="row">
          <div class="col-12">
            <div class="modalbox" id="text">
                <div class="box">
                  <img *ngIf="botonMas" class="botonMasMenos" src="assets/autores/MENOS-TEXTO.jpg" (click)="clickPopUp()"/>              
                  <img *ngIf="!botonMas" class="botonMasMenos" src="assets/autores/MAS-TEXTO.jpg" (click)="clickPopUp()"/> 
                  <div class="content" *ngIf="abrirPopUp">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
                  </div>
                </div>
              </div>             
            </div>
            <div class="col-12 ">
              <img class="mapa text-center" src="assets/autores/REPSONSIVE HORIZONTAL/MAPA-TAMANO-1.png"/>
              <!-- <img *ngIf="botonMas" class="botonMasMenos" src="assets/autores/MAS-TEXTO.jpg" (click)="clickPopUp()"/> -->
            </div>
            <div class="col-12 d-flex flex-column">
              <img class="brujula" (click)="permitirRelatos()" src="assets/autores/MAS-HISTORIAS.png"/> 
            </div>
          </div> 
        </div>


        <div *ngIf="relatos" class="">     
            <!-- <img class="" src="assets/autores/WEB/DECOR1.png"/> -->
           <div class="text-justify contenedorRelatos">
          
            
            
            <div class="row">
              <div class="col-5">
                <img class="img-fluid"  src="{{fragmentoActual.urlImagen}}"/>
              </div>
             <div class="col-3">
                  <div class="col-12">
                    <div class="font-weight-bold textoOriginal font-italic">{{fragmentoActual.textoOriginal}}</div>
                  </div>                
                  <div class="col-12">                   
                    <div class="nombre">{{fragmentoActual.nombre}}</div>
                    <div class="apellido font-italic">{{fragmentoActual.apellido}}</div>
                  </div>
                  <div class="col-12">
                   
                    <div class="d-flex fuenteBibliografia font-weight-bold">{{fragmentoActual.fuenteBibliografia}}</div>
                  </div>             
                </div>
                <div class="col-1">                 
                                             
                    <img class="img-fluid barraSeparadora"  src="assets/autores/WEB/BARRA VERTICAL.png"/>
                  
                </div> 

                <div class="col-3">                 
                                               
                    <div class="textoFragmento">{{fragmentoActual.textoFragmento}}</div>
                     
                </div> 
            
              </div> 
              
              
                  </div>

                    <!-- FOOTER WEB -->
                  <div class="container-fluid"  *ngIf="!movil">
                    <div class="row text-center">
                      <div class="col-12 ">
                    <img *ngIf="bulletVacio[0]" class="bulletWeb" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[1]" class="bulletWeb" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[2]" class="bulletWeb" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[3]" class="bulletWeb" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[4]" class="bulletWeb" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[5]" class="bulletWeb" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[6]" class="bulletWeb" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[7]" class="bulletWeb" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[8]" class="bulletWeb" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[9]" class="bulletWeb" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="!bulletVacio[0]" class="bulletWeb" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[1]" class="bulletWeb" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[2]" class="bulletWeb" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[3]" class="bulletWeb" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[4]" class="bulletWeb" src="assets/autores/BULLET-VACIO.png"/>                 
                    <img *ngIf="!bulletVacio[5]" class="bulletWeb" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[6]" class="bulletWeb" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[7]" class="bulletWeb" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[8]" class="bulletWeb" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[9]" class="bulletWeb" src="assets/autores/BULLET-VACIO.png"/>
                      </div>
                      <div class="col-5">
                        <img class="anteriorWeb float-right" (click)="siguienteFragmento('false')" src="assets/autores/WEB/ANTERIOR_FLECHA.png"/>
                      </div>
                      <div class="col-2 ">
                        <img class="brujulaHomeWeb" src="assets/autores/WEB/ROSA.png"/>
                      </div>
                      <div class="col-5">
                        <img class="siguienteWeb float-left" (click)="siguienteFragmento('true')" src="assets/autores/WEB/SIGUIENTE_FLECHA.png"/>
                      </div>
                      <div class="col-12">
                        <img class="medellin" src="assets/autores/WEB/NOMBRE FILTRO_PT.png"/>
                      </div>
                    </div>

                  </div>
                      <!-- FIN FOOTER WEB -->
          
                  <!-- FOOTER MOVIL -->
            <div class="container-fluid footer"  *ngIf="movil">
              <div class="row">
                  <div class="col-lg-3 col-sm-2">
                      <img *ngIf="movil" class="anteriorMovil" (click)="siguienteFragmento('false')"  src="assets/autores/ANTERIOR.png"/>
                  </div>
                  <div class="col-lg-2 col-sm-3 bullets">
                    <img *ngIf="bulletVacio[0]" class="bullet" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[1]" class="bullet" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[2]" class="bullet" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[3]" class="bullet" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="bulletVacio[4]" class="bullet" src="assets/autores/BULLET-LLENO.png"/>
                    <img *ngIf="!bulletVacio[0]" class="bullet" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[1]" class="bullet" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[2]" class="bullet" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[3]" class="bullet" src="assets/autores/BULLET-VACIO.png"/>
                    <img *ngIf="!bulletVacio[4]" class="bullet" src="assets/autores/BULLET-VACIO.png"/>
                  </div>    
                  
                  <div class="col-lg-2 col-sm-2">
                    <img class="brujulaHome" src="assets/autores/REPSONSIVE HORIZONTAL/ICONO-HOME-COMPLETO.png"/>
                </div>  
                <div class="col-lg-2 col-sm-3 bullets2">
                  <img *ngIf="bulletVacio[5]" class="bullet" src="assets/autores/BULLET-LLENO.png"/>
                  <img *ngIf="bulletVacio[6]" class="bullet" src="assets/autores/BULLET-LLENO.png"/>
                  <img *ngIf="bulletVacio[7]" class="bullet" src="assets/autores/BULLET-LLENO.png"/>
                  <img *ngIf="bulletVacio[8]" class="bullet" src="assets/autores/BULLET-LLENO.png"/>
                  <img *ngIf="bulletVacio[9]" class="bullet" src="assets/autores/BULLET-LLENO.png"/>
                  <img *ngIf="!bulletVacio[5]" class="bullet" src="assets/autores/BULLET-VACIO.png"/>
                  <img *ngIf="!bulletVacio[6]" class="bullet" src="assets/autores/BULLET-VACIO.png"/>
                  <img *ngIf="!bulletVacio[7]" class="bullet" src="assets/autores/BULLET-VACIO.png"/>
                  <img *ngIf="!bulletVacio[8]" class="bullet" src="assets/autores/BULLET-VACIO.png"/>
                  <img *ngIf="!bulletVacio[9]" class="bullet" src="assets/autores/BULLET-VACIO.png"/>
                </div>     
                <div class="col-lg-3 col-sm-2">
                  <img *ngIf="movil" class="anteriorMovil2" (click)="siguienteFragmento('true')" src="assets/autores/SIGUIENTE.png"/>
              </div>   
              </div>
               
          </div> 

           <!-- FIN FOOTER MOVIL -->

            </div>
           