<!-- <div class="view intro jarallax"
     style="min-height: 800px">
     <img class="mapa" (click)="arrancarAnimacion()" src="https://www.eltiempo.com/files/main_video_image/uploads/2019/04/09/5cad27433a7ef.jpeg"/>
</div> -->


 <div class="" style="min-height: 800px">
    <div class="container">
        <div class="row">
          <div class="col">
     <img class="ciudadEspejo"  src="assets/img/ciudadEspejo.png"/>
     </div>
     </div>
     <div class="row">
        <div class="col">
     <img class="flechaDerecha" src="assets/img/flechaDerecha.png"/>    
     </div>
     </div>
     <div class="row">
     <div class="col">
     Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident
        rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        </div>
        </div>
</div>
</div> 

 <div class="container" style="min-height: 800px">
  
  <div class="row">
  
    <div class="col-md-12 text-center my-5">
      <h5 class="h1 font-bold mb-5 blanco">Lorem ipsum dolor sit amet, consectetur quis elit.
     Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident
        rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.</h5>
    </div>
   
  </div>
  
</div>  