<div *ngIf="!microRelatos" class="">

    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="row">
          <div class="col-6">
            <img class="img-fluid logo1Home" src="assets/microRelatos/WEB/LOGO-FEST.png"/>
          </div>
          <div class="col-6">
            <img class="img-fluid logo2Home pull-right" src="assets/microRelatos/WEB/SNL-2.png"/>
          </div>    
        </div>  
      </nav>  
    </header> 
    <img class="degradado" src="assets/microRelatos/WEB/DEGRADADO.png"/>
      <div class="container-fluid">
  
        <div class="header">
          <div class="container-fluid">
              <div class="row">
                <div class="col-sm-4 col-sm-offset-1 text-right">
                  <div class="col-12 text-justify">
                    <img class="img-fluid" src="assets/microRelatos/WEB/CABEZOTE-CON-CORONDEL.png"/>
                  </div>                 
                  <div class="col-12 ">
                    <div class="textoFragmento text-justify">Esto sucedío  un día de este lado del espejo: grandes fragmentos de ciudad desaparecieron de repente. Sus existencias fueron borradas del tiempo y del espacio. Son ausencias que nadie nota. Nadie extraña a la abuela que perdió, porque no sabe que la ha perdido. Ni le hace falta recorrer las calles que ya no existen ni los barrios ni las montañas, porque su recuerdo ha sido devorado. Han saltado al otro lado del espejo, a vivir su propio fin del mundo en el olvido. Si no eres capaz de guardar silencio, forastero, escribe tu historia e intenta que esta ciudad recuerde lo que le ha sido arrebatado.</div>
                  </div>
                </div>
                  <div class="col-sm-7 col-sm-offset-1">
                     <img class="img-fluid mapa" src="assets/microRelatos/WEB/MAPA-CON-ELEMENTOS.png" usemap="#workmap"/>                  
                    </div>
              
             
                  <div class="col-sm-1 col-sm-offset-1">
                    <img class="img-fluid menu" src="assets/microRelatos/WEB/MENÚ-MEDELLÍN-INVERTIDO.png" /> 
                   
                  </div>
              </div>
          </div>
      </div>  
      </div>      
          </div>

          <div *ngIf="microRelatos" class="">  
            <header>
  
              <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
                <div class="row container-fluid">
                  <div class="col-6">
                    <img class="img-fluid logo1" src="assets/autores/WEB/LOGO CIUDAD ESPEJO.png"/>
                  </div>
                  <div class="col-4-offset-2">
                    <img class="logo2 pull-right" src="assets/microRelatos/WEB/MEDELLIN-FILTRO.png"/>
                  </div>
                  <div class="col-2">
                    <img class="img-fluid logo3 text-l" src="assets/microRelatos/WEB/SNL-2.png"/>
                  </div>
              
                </div>
            
              </nav>
            
            </header>   
            <img class="degradado" src="assets/microRelatos/WEB/DEGRADADO.png"/>
             <div class="text-justify contenedorRelatos">
            
              
              
              
              <div class="row">
                <div class="col-4">
                  <img class="img-fluid"  src="{{microRelatoActual.urlImagen}}"/>
                </div>
               <div class="col-3">
                    <div class="col-12">
                      <div class="textoOriginal font-italic text-right">{{microRelatoActual.fraseDeTeoria}}</div>
                    </div>                
                    <div class="col-12">                   
                      <div class="text-right"><img src="assets/microRelatos/WEB/CORONDEL.png"/></div>                     
                    </div>
                    <div class="col-12">                     
                      <div class="img-fluid text-right" (click)="playAudio('assets/song.mp3')"><img src="assets/microRelatos/WEB/ECUALIZADOR-OFF.png"/></div>
                    </div>             
                  </div>
                  <div class="col-1">                 
                                               
                      <img class="img-fluid barraSeparadora float-right"  src="assets/autores/WEB/BARRA VERTICAL.png"/>
                    
                  </div> 
  
                  <div class="col-4">                 
                      <div class="col-12">
                        <div class="textoFragmento text-left">{{microRelatoActual.texto}}</div>
                      </div>                        
                      <div class="col-12">
                        <div class="textoOriginal"><br>Visita todos los microrrelatos para construir el tuyo.</div>                        
                      </div>
                      <div class="col-12">
                        <br>
                        <div *ngIf="bulletVacio[0]" class="textoFragmento font-weight-bold">¿Cómo se llama tu personaje? (una palabra)</div>
                        <div *ngIf="bulletVacio[1]" class="textoFragmento font-weight-bold">Al  mirar al cielo, qué ve tu personaje:</div> 
                        <div *ngIf="bulletVacio[2]" class="textoFragmento font-weight-bold">¿Cómo terminaría tu personaje su historia?</div>
                        <div *ngIf="bulletVacio[3]" class="textoFragmento font-weight-bold">¿Dónde trabaja tu personaje?</div>                        
                       <div *ngIf="bulletVacio[4]" class="textoFragmento font-weight-bold">¿En qué se transporta tu personaje?</div> 
                       <div *ngIf="bulletVacio[5]" class="textoFragmento font-weight-bold">¿Cómo se llama la ciudad en la que nació tu personaje? (una palabra)</div>                        
                       <div *ngIf="bulletVacio[6]" class="textoFragmento font-weight-bold">El interés romántico de tu personaje sería:</div> 
                       <div *ngIf="bulletVacio[7]" class="textoFragmento font-weight-bold">La comida preferida de tu personaje es (una palabra):</div>
                       <div *ngIf="bulletVacio[8]" class="textoFragmento font-weight-bold">¿Cuál sería la mascota de tu personaje?</div> 
                       <div *ngIf="bulletVacio[9]" class="textoFragmento font-weight-bold">Tu personaje enfrenta este problema: </div>
                        
                      </div>
                      <div class="col-12">
                        <br>
                        <div *ngIf="bulletVacio[0]" class="textoFragmento font-weight-bold"><input type="text" class="form-control"></div>
                        <div *ngIf="bulletVacio[1]"> 
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="opcion1" name="defaultExampleRadios" checked mdbInput>
                            <label class="custom-control-label textoFragmento" for="opcion1">la nube de gases que cubre la ciudad</label>
                            </div>

                        
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="opcion2" name="defaultExampleRadios" mdbInput>
                        <label class="custom-control-label textoFragmento" for="opcion2">las estrellas</label>
                        </div>   
                        
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="opcion3" name="defaultExampleRadios" mdbInput>
                          <label class="custom-control-label textoFragmento" for="opcion3">los paneles solares flotando sobre la ciudad</label>
                          </div>

                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="opcion4" name="defaultExampleRadios" mdbInput>
                            <label class="custom-control-label textoFragmento" for="opcion4">los satélites vigilantes"</label>
                            </div>
                      </div>       
                      
                      <div *ngIf="bulletVacio[2]"> 
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="opcion1" name="defaultExampleRadios" checked mdbInput>
                          <label class="custom-control-label textoFragmento" for="opcion1">Muere</label>
                          </div>

                      
                      <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="opcion2" name="defaultExampleRadios" mdbInput>
                      <label class="custom-control-label textoFragmento" for="opcion2">Desaparece</label>
                      </div>   
                      
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="opcion3" name="defaultExampleRadios" mdbInput>
                        <label class="custom-control-label textoFragmento" for="opcion3">Escapa</label>
                        </div>

                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="opcion4" name="defaultExampleRadios" mdbInput>
                          <label class="custom-control-label textoFragmento" for="opcion4">Renace</label>
                          </div>
                    </div>    
                    
                    <div *ngIf="bulletVacio[3]"> 
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="opcion1" name="defaultExampleRadios" checked mdbInput>
                        <label class="custom-control-label textoFragmento" for="opcion1">En un hospital que modifica humanos</label>
                        </div>

                    
                    <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="opcion2" name="defaultExampleRadios" mdbInput>
                    <label class="custom-control-label textoFragmento" for="opcion2">En una cantera radioactiva</label>
                    </div>   
                    
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="opcion3" name="defaultExampleRadios" mdbInput>
                      <label class="custom-control-label textoFragmento" for="opcion3">En una granja orgánica</label>
                      </div>

                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="opcion4" name="defaultExampleRadios" mdbInput>
                        <label class="custom-control-label textoFragmento" for="opcion4">No necesita trabajar</label>
                        </div>
                  </div>   

                  <div *ngIf="bulletVacio[4]"> 
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="opcion1" name="defaultExampleRadios" checked mdbInput>
                      <label class="custom-control-label textoFragmento" for="opcion1">una camioneta con motor envenado</label>
                      </div>

                  
                  <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="opcion2" name="defaultExampleRadios" mdbInput>
                  <label class="custom-control-label textoFragmento" for="opcion2">a caballo</label>
                  </div>   
                  
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="opcion3" name="defaultExampleRadios" mdbInput>
                    <label class="custom-control-label textoFragmento" for="opcion3">en una moto de alto cilindraje</label>
                    </div>

                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="opcion4" name="defaultExampleRadios" mdbInput>
                      <label class="custom-control-label textoFragmento" for="opcion4">en bicicleta</label>
                      </div>
                </div>          
                          
                        <div *ngIf="bulletVacio[5]" class="textoFragmento font-weight-bold"><br><input type="text" class="form-control"></div>                        
                     
                        <div *ngIf="bulletVacio[6]"> 
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="opcion1" name="defaultExampleRadios" checked mdbInput>
                            <label class="custom-control-label textoFragmento" for="opcion1">Dictador (a)</label>
                            </div>
      
                        
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="opcion2" name="defaultExampleRadios" mdbInput>
                        <label class="custom-control-label textoFragmento" for="opcion2">Esclavo (a)</label>
                        </div>   
                        
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="opcion3" name="defaultExampleRadios" mdbInput>
                          <label class="custom-control-label textoFragmento" for="opcion3">Campesino (a)</label>
                          </div>
      
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="opcion4" name="defaultExampleRadios" mdbInput>
                            <label class="custom-control-label textoFragmento" for="opcion4">Activista ambiental</label>
                            </div>
                      </div>

                      <div *ngIf="bulletVacio[7]" class="textoFragmento font-weight-bold"><br><input type="text" class="form-control"></div>

                      

                    <div *ngIf="bulletVacio[8]"> 
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="opcion1" name="defaultExampleRadios" checked mdbInput>
                        <label class="custom-control-label textoFragmento" for="opcion1">un gato</label>
                        </div>
  
                    
                    <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="opcion2" name="defaultExampleRadios" mdbInput>
                    <label class="custom-control-label textoFragmento" for="opcion2">una oveja eléctrica</label>
                    </div>   
                    
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="opcion3" name="defaultExampleRadios" mdbInput>
                      <label class="custom-control-label textoFragmento" for="opcion3">un androide</label>
                      </div>
  
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="opcion4" name="defaultExampleRadios" mdbInput>
                        <label class="custom-control-label textoFragmento" for="opcion4">una gallina feliz criada al aire libre</label>
                        </div>
                  </div>

                  <div *ngIf="bulletVacio[9]"> 
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="opcion1" name="defaultExampleRadios" checked mdbInput>
                      <label class="custom-control-label textoFragmento" for="opcion1">Sistema totalitario y opresor</label>
                      </div>

                  
                  <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="opcion2" name="defaultExampleRadios" mdbInput>
                  <label class="custom-control-label textoFragmento" for="opcion2">Virus mortal</label>
                  </div>   
                  
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="opcion3" name="defaultExampleRadios" mdbInput>
                    <label class="custom-control-label textoFragmento" for="opcion3">Escasez de recursos naturales</label>
                    </div>

                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="opcion4" name="defaultExampleRadios" mdbInput>
                      <label class="custom-control-label textoFragmento" for="opcion4">Una sobrepoblación mundial</label>
                      </div>
                </div>
                     
                      </div>
                      <div class="col-12">
                        <br>
                        <div *ngIf="bulletVacio[0]" class="text-right"><img src="assets/microRelatos/WEB/0_.png"/></div>
                        <div *ngIf="bulletVacio[1]" class="text-right"><img src="assets/microRelatos/WEB/10_.png"/></div>
                        <div *ngIf="bulletVacio[2]" class="text-right"><img src="assets/microRelatos/WEB/20_.png"/></div>
                        <div *ngIf="bulletVacio[3]" class="text-right"><img src="assets/microRelatos/WEB/30_.png"/></div>
                        <div *ngIf="bulletVacio[4]" class="text-right"><img src="assets/microRelatos/WEB/40_.png"/></div>
                        <div *ngIf="bulletVacio[5]" class="text-right"><img src="assets/microRelatos/WEB/50_.png"/></div>
                        <div *ngIf="bulletVacio[6]" class="text-right"><img src="assets/microRelatos/WEB/60_.png"/></div>
                        <div *ngIf="bulletVacio[7]" class="text-right"><img src="assets/microRelatos/WEB/70_.png"/></div>
                        <div *ngIf="bulletVacio[8]" class="text-right"><img src="assets/microRelatos/WEB/80_.png"/></div>
                        <div *ngIf="bulletVacio[9]" class="text-right"><img src="assets/microRelatos/WEB/90_.png"/></div>                        
                      </div>
                      
                       
                  </div> 
              
                </div> 
                
                
                    </div>
  
                      <!-- FOOTER WEB -->
                    <div class="container-fluid contenedorFooter" *ngIf="!movil">
                      <div class="row text-center">                       
                        <div class="col-5">
                          <img class="anteriorWeb float-right" (click)="siguienteFragmento('false')" src="assets/autores/WEB/ANTERIOR_FLECHA.png"/>
                        </div>
                        <div class="col-2 ">
                          <img class="brujulaVolver" (click)="permitirRelatos()" src="assets/microRelatos/WEB/VOLVER-MAPA-MEDELLÍN-CON-ÍCONO.png"/>
                        </div>
                        <div class="col-5">
                          <img class="siguienteWeb float-left" (click)="siguienteFragmento('true')" src="assets/autores/WEB/SIGUIENTE_FLECHA.png"/>
                        </div>                      
                      </div>
  
                    </div>
                        <!-- FIN FOOTER WEB -->
            
              
              </div>