<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img class="img-fluid logo1" src="assets/autores/WEB/LOGO CIUDAD ESPEJO.png"/>
        </div>
        <div class="col-12">
            <img class="img-fluid" src="assets/microRelatos/WEB/EDITAR-BOTON.png"/>
        </div>
        <div class="col-12 texto">
           {{textoGenerado}}
        </div>  
        <div class="col-12">
            <img class="img-fluid" src="assets/microRelatos/WEB/CORONDEL-CAFE.png"/>
        </div>
        
        <div class="col-12 d-flex justify-content-center">
            <div class="col-2 icono">
                <img class="img-fluid icono" src="assets/microRelatos/WEB/OTRO-RELATO-ICONO.png"/>
            </div>            
        <div class="col-3">
            <img class="img-fluid icono" src="assets/microRelatos/WEB/OTRO-RELATO.png"/>  
        </div>
        <div class="col-2">
            <img class="img-fluid icono" src="assets/microRelatos/WEB/SUBE-TU-HISTORIA-BOTON.png"/>  
        </div>
       
    <div class="col-3 icono">
        <img class="img-fluid icono" src="assets/microRelatos/WEB/COMPARTIR-TEXTO.png"/>
    </div>            
<div class="col-2">
    <img class="img-fluid icono" src="assets/microRelatos/WEB/COMPARTIR-ICONO.png"/>  
</div>
        </div>
    </div>
  
    
</div>