.negativo{
     mask-image: linear-gradient(rgba(255, 255, 126, 1), transparent);
    mask-image: url("/assets/microRelatos/WEB/OPACIDAD-VERDE.png");
    mask-repeat: no-repeat;
}

.centrar{
    text-align: center;
}

.hide{
    display: none;
}

.footer{
    background-color: 	#cdd083;
    margin-top: 5%;
}

.centrarImagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
     min-width: 100%;
     background-image: url("/assets/microRelatos/WEB/GLOBO-TEXTO-INTRO.png");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%; 
     height: 670px;
     width: 50px;
}

.iconosCompartir{
    z-index: 999;
    position: absolute;
    top: 70%;
    left: 73%;
}

.iconoFb:hover{
    cursor: pointer;
}


.iconoTw:hover{
    cursor: pointer;
}


.iconoIg:hover{
    cursor: pointer;
}
.container-fluid2{

}

textarea{
    background-color: #F8EBE3;
}

.texto{
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
}

.logo1{
width: 100%;
height: 90%;
}

.logoCompartir{
    width: 50%;
    height: auto;
    }

.iconoOtro{
position: absolute;
left: 0;
}

.iconoOtro2{
    position: absolute;
    left: -30px;
    }

    .iconSubeTuHistoria{
 margin-left: -25px;
          }  
        .iconoCompartir{  
            margin-left: -45px;    
            }

            .botonEditar:hover{
                cursor: pointer;
            }