.header{
    margin-left: 7%;
    margin-top: 3%;
    position: fixed;
}

  .icono1{
      max-width: 100px;
  }

  .icono2{
    max-width: 100px;
  }

  .aliados{
    max-width: 100px;
    margin-left: 800px;
  }

  @media only screen and (max-width: 500px) {
    .header{
        margin-left: 0% !important;
        margin-top: 6% !important;
        position: fixed;
    }

    .icono1{
        max-width: 60px !important;
    }
  
    .icono2{
      max-width: 60px !important;
      margin-left: 10px;
    }

    .aliados{
      max-width: 60px !important;
      margin-left: 160px !important;
    }
  }