<div class="container">
    <img class="flechaDerecha" (click)="arrancarAnimacion()" src="assets/img/flechaDerecha.png"/>
    <img class="ciudadEspejo" (click)="arrancarAnimacion()" src="assets/img/ciudadEspejo.png"/>

    <img class="mapa animate__animated  animate__fadeInUp" *ngIf="permitirMapa" (click)="arrancarAnimacion()" src="assets/img/2.png"/>

<div *ngIf="permitirScroll">
 <marquee behavior="scroll" class="textoScroll" direction="up" scrollamount="8" loop="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut venenatis orci arcu, quis viverra leo semper id. Fusce a leo feugiat, sagittis odio ut, consectetur tortor. Nullam commodo semper purus, ut aliquet tellus malesuada in. Duis sodales molestie felis, sed vehicula lacus venenatis vitae. In aliquet, tellus quis efficitur fermentum, turpis dui commodo leo, nec ultrices lorem libero mattis velit. Sed nec diam risus. Maecenas vel eros lobortis, iaculis nibh at, lacinia odio. </marquee>
</div>
</div>