<!-- <div class="container-fluid header">
    <div class="row">
        <div class="col-2">
            <img class="icono1" src="assets/vertical/LOGO-FEST.png"/>
        </div>
        <div class="col-2">
            <img class="icono2" src="assets/vertical/LOGO-SNL.png"/>
        </div>       
    </div>
     
</div>  -->


<div *ngIf="navegador=='home'" class="container-fluid">
    <div class="row">
        <div class="col">
            <app-home [home]="home" (navegador)="funcionNavegador($event)"></app-home>
        </div>
    </div>
</div>

<div *ngIf="navegador=='autores'" class="container-fluid">
 
            <app-autores (navegador)="funcionNavegador($event)"></app-autores> 
     
</div>

<div *ngIf="navegador=='microRelatos'" class="container-fluid microRelatos">
 
    <app-microrelatos (navegador)="funcionNavegador($event)"></app-microrelatos> 

</div>

<div *ngIf="navegador=='creditos'" class="container-fluid zBajo">
 
    <app-creditos (navegador)="funcionNavegador($event)"></app-creditos> 

</div>

<div *ngIf="navegador=='fisuras'" class="container-fluid zBajo">
 
    <app-fisuras (navegador)="funcionNavegador($event)"></app-fisuras> 

</div>

