<!-- <div class="container-fluid header">
    <div class="row">
        <div class="col-2">
            <img class="icono1" src="assets/vertical/LOGO-FEST.png"/>
        </div>
        <div class="col-2">
            <img class="icono2" src="assets/vertical/LOGO-SNL.png"/>
        </div>       
    </div>
     
</div>  -->


<div *ngIf="navegador=='home'" class="container">
    <div class="row">
        <div class="col">
            <app-home (navegador)="funcionNavegador($event)"></app-home>
        </div>
    </div>
</div>

<div *ngIf="navegador=='autores'" class="container">
 
            <app-autores></app-autores> 
     
</div>

<div *ngIf="navegador=='microRelatos'" class="container">
 
    <app-microrelatos></app-microrelatos> 

</div>

