/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

@media only screen and (max-width: 500px) {
    body { 
        /* background-image: url('assets/img/0movil.png') !important; */
        background-color: #002E3D;
     }
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: #002E3D; */
     background-image: url('assets/vertical/fondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
 }


 @font-face {
  font-family:"ambroise-std";
  src:url("https://use.typekit.net/af/e70fa8/00000000000000003b9b28d3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e70fa8/00000000000000003b9b28d3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e70fa8/00000000000000003b9b28d3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
  }

  @font-face {
    font-family:"krete";
    src:url("https://use.typekit.net/af/b9ea65/00000000000000003b9afb50/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/b9ea65/00000000000000003b9afb50/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/b9ea65/00000000000000003b9afb50/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;
    }
    
    @font-face {
      font-family:"sweet-sans-pro";
      src:url("https://use.typekit.net/af/c1a1f5/00000000000000003b9b43f8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c1a1f5/00000000000000003b9b43f8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c1a1f5/00000000000000003b9b43f8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:400;
      }

      @font-face {
        font-family:"sweet-sans-pro-italic";
        src:url("https://use.typekit.net/af/cfa645/00000000000000003b9b43f9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/cfa645/00000000000000003b9b43f9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/cfa645/00000000000000003b9b43f9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
        font-display:auto;font-style:italic;font-weight:400;
        }
        

 /** {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
  }
  
  /* Works on Chrome/Edge/Safari */
 /* *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: orange;
  }
  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
  }*/
