/* You can add global styles to this file, and also import other style files */

@import url("https://use.typekit.net/fxn1pub.css");
html, body {
  height: 100%;
}

@media only screen and (max-width: 500px) {
  body {
    /* background-image: url('assets/img/0movil.png') !important; */
    background-color: #032E3A;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('assets/comun/fondo.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #032E3A;
}

.logoFiesta {
  position: fixed;
  top: 5.3%;
  left: 5%;
  width: 7%;
}

.logoSNL {
  position: fixed;
  top: 5.3%;
  right: 6%;
  width: 4.5%;
}

.menuBar {
  position: absolute;
  top: 20%;
  right: 6%;
  width: 1.8%;
  z-index: 999;
}

.regresoCiudadEspejo {
  position: absolute;
  top: 5.3%;
  left: 5%;
  width: 13%;
  z-index: 999;
}

.regresoCiudadEspejo:hover {
  cursor: pointer;
}

.regresoMedellin {
  position: absolute;
  top: 5.7%;
  left: 5%;
  width: 17%;
  z-index: 999;
}

.regresoMedellin:hover {
  cursor: pointer;
}

.degradadoIzq {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 9%;
    height: 100%;
    z-index: -999;
}

.decoracionFondo {
  z-index: -999;
  width: 100%;
  top: 0%;
}

.ciudadEspejoDer {
  position: fixed;
  top: 5.5%;
  right: 12%;
  width: 8%;
  z-index: 999;
}

.headerAmbos {
  padding-top: 250px;
  padding-left: 200px;
}

.MedellinAmbos {
  position: relative;
  right: 40px;
  top: 15px;
  max-width: 100%;
  height: auto;
}

.logoMedellinAmbos {
  width: 50%;
}

.separadorAmbos {
  position: relative;
  right: 100px;
  width: 340px;
}

.textoFragmentoAmbos {
  margin-top: 10px;
  color: #F8EBE3;
  font-family: "sweet-sans-pro";
  font-size: 1vw;
}

.rosaAmbos {
  width: 60%;
}

.eligeUnFragmentoAmbos {
  position: relative;
  right: 70%;
  top: 20%;
}

.mapaAmbos {
  /* width: 94%;
  max-width: 94%;
  min-width: 94%;
  height: auto; */
  z-index: 901 !important;
}


.logoFiestaMovil {
  position: fixed;
  top: 3%;
  left: 5%;
  width: 22%;
}

.logoSNLMovil {
  position: fixed;
  top: 2%;
  right: 6%;
  width: 14%;
}


/** {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
  }
  
  /* Works on Chrome/Edge/Safari */

/* *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: orange;
  }
  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
  }*/