<!-- <div class="container">
   
    <img class="ciudadEspejo" src="assets/img/ciudadEspejo.png"/>

    <img class="mapa animate__animated  animate__fadeInUp" *ngIf="permitirMapa"  src="assets/img/2.png"/>

<div *ngIf="permitirScroll">
 <marquee behavior="scroll" class="textoScroll" direction="up" scrollamount="8" loop="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut venenatis orci arcu, quis viverra leo semper id. Fusce a leo feugiat, sagittis odio ut, consectetur tortor. Nullam commodo semper purus, ut aliquet tellus malesuada in. Duis sodales molestie felis, sed vehicula lacus venenatis vitae. In aliquet, tellus quis efficitur fermentum, turpis dui commodo leo, nec ultrices lorem libero mattis velit. Sed nec diam risus. Maecenas vel eros lobortis, iaculis nibh at, lacinia odio. </marquee>
</div>
</div> -->


  


<div *ngIf="home=='home1'" class="container text-center">
  <img class="aliados" src="https://ep01.epimg.net/iconos/v1.x/v1.0/promos/promo_og_icon.png"/>
    <div class="row">
      <div class="col">
        <img class="img-fluid ciudadEspejo"  src="assets/img/ciudadEspejo.png"/>
      </div>
    </div>
      <div class="row">
      <div class="col">
          <div class="texto">
        Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident
        rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
      </div>
    </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="flechaDerecha" (click)="siguienteHome('home2')" src="assets/img/flechaDerecha.png"/>   
        </div>
    </div>
</div>


<div class="text-center home2" *ngIf="home=='home2'" (window:scroll)="onWindowScroll()">
  
        <div class="row text-center">
          <div class="col">
     <img class="img-fluid ciudadEspejo2"  src="assets/img/ciudadEspejo.png"/>
    <img *ngIf="cambiarCiudadEspejo" class="img-fluid ciudadEspejo3"  src="assets/img/ciudadEspejo2.jpg"/>
     </div>
     </div>   

 <div class="container2">
  
  <div class="row">
  
    <div class="col-md-12 my-5">
      <h5 class="h1 font-bold mb-5 texto2">Lorem ipsum dolor sit amet, consectetur quis elit.
     Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident
        rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.</h5>
    </div>
   
   
  </div>
  <div class="row">
    <div class="col">
      <img class="flechaDerecha2" (click)="siguienteHome('home3')" src="assets/img/flechaDerecha.png"/>  
    </div>
  </div>
    
  
</div>  
</div>

<div *ngIf="home=='home3'" class="container">

  <img class="aliados" src="https://ep01.epimg.net/iconos/v1.x/v1.0/promos/promo_og_icon.png"/>
    <div class="row text-center">
      <div class="col-sm-12 ">
        <div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2 mx-auto" role="group" aria-label="First group">
              <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect><div class="textoBoton">HOME</div></button>
              <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>MEDELLIN</button>
              <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>NÍ˥˥ƎpƎW</button>
              <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>FISURAS</button>
          </div> 
        </div>
      </div>
      <div class="col-12">
        <img class="img-fluid ciudadEspejo3"  src="assets/img/ciudadEspejo.png"/>
      </div>
      <div class="col">
        <img class="img-fluid mapa"  src="assets/img/mapa.png"/>
      </div>
      <div class="col-12">
            <img class="brujula img-fluid" (click)="siguienteHome('home2')" src="assets/img/brujula.png"/>             
        </div>
        <div class="col-12 text-center textoBrujula">
          Explora
          <br>
          los distritos
         </div>
    </div>
  
        
    
  
 
</div>