<!-- <div class="container">
   
    <img class="ciudadEspejo" (click)="arrancarAnimacion()" src="assets/img/ciudadEspejo.png"/>

    <img class="mapa animate__animated  animate__fadeInUp" *ngIf="permitirMapa" (click)="arrancarAnimacion()" src="assets/img/2.png"/>

<div *ngIf="permitirScroll">
 <marquee behavior="scroll" class="textoScroll" direction="up" scrollamount="8" loop="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut venenatis orci arcu, quis viverra leo semper id. Fusce a leo feugiat, sagittis odio ut, consectetur tortor. Nullam commodo semper purus, ut aliquet tellus malesuada in. Duis sodales molestie felis, sed vehicula lacus venenatis vitae. In aliquet, tellus quis efficitur fermentum, turpis dui commodo leo, nec ultrices lorem libero mattis velit. Sed nec diam risus. Maecenas vel eros lobortis, iaculis nibh at, lacinia odio. </marquee>
</div>
</div> -->



<div class="container text-center">
    <div class="row">
      <div class="col">
        <img class="img-fluid "  src="https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1559146425/content-items/003/021/735/Sin_t%25C3%25ADtulo-1-original.png"/>
      </div>
    </div>
      <div class="row">
      <div class="col">
          <div class="texto">
        Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident
        rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
      </div>
    </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="flechaDerecha" src="assets/img/flechaDerecha.png"/>   
        </div>
    </div>
</div>




<!-- <div *ngIf="home1" class="" style="min-height: 800px">
    <div class="container">
        <div class="row">
          <div class="col">
     <img class="ciudadEspejo"  src="assets/img/ciudadEspejo.png"/>
     </div>
     </div>
     <div class="row">
        <div class="col">
     <img class="flechaDerecha" (click)="arrancarAnimacion()" src="assets/img/flechaDerecha.png"/>    
     </div>
     </div>
     <div class="row">
     <div class="col">
     Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident
        rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        </div>
        </div>
</div>
</div> -->

<!-- <div class="container" style="min-height: 800px">
  
  <div class="row">
  
    <div class="col-md-12 text-center my-5">
      <h5 class="h1 font-bold mb-5 blanco">Lorem ipsum dolor sit amet, consectetur quis elit.
     Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident
        rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.</h5>
    </div>
   
  </div>
  
</div> -->

<!-- 
<app-home2></app-home2> -->