<!-- <div class="container">
   
    <img class="ciudadEspejo" src="assets/img/ciudadEspejo.png"/>

    <img class="mapa animate__animated  animate__fadeInUp" *ngIf="permitirMapa"  src="assets/img/2.png"/>

<div *ngIf="permitirScroll">
 <marquee behavior="scroll" class="textoScroll" direction="up" scrollamount="8" loop="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut venenatis orci arcu, quis viverra leo semper id. Fusce a leo feugiat, sagittis odio ut, consectetur tortor. Nullam commodo semper purus, ut aliquet tellus malesuada in. Duis sodales molestie felis, sed vehicula lacus venenatis vitae. In aliquet, tellus quis efficitur fermentum, turpis dui commodo leo, nec ultrices lorem libero mattis velit. Sed nec diam risus. Maecenas vel eros lobortis, iaculis nibh at, lacinia odio. </marquee>
</div>
</div> -->


  


<div *ngIf="home=='home1'" class="container-fluid text-center">
  <img class="aliados" src="assets/vertical/CRÉDITOS.png"/>
    <div class="row">
      <div class="col">
        <img class="img-fluid ciudadEspejo"  src="assets/vertical/CABEZOTE-MEDIANO-CON-ELEMENTO.png"/>
      </div>
    </div>
      <div class="row">
      <div class="col">
          <div class="texto">
            Esta Medellín imaginada es una reflexión sobre nuestros futuros posibles. Conviven en este espacio las pesadillas de las narraciones distópicas y el esplendor verde y sostenible que propone el solar punk más reciente. La ciencia ficción, como una casa de los espejos, toma elementos de la realidad y los deforma hasta el horror o la belleza.
      </div>
    </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="flechaDerecha" (click)="siguienteHome('home2')" src="assets/vertical/FLECHA-SIGUIENTE.png"/>   
        </div>
    </div>
</div>


<div class="text-center home2" *ngIf="home=='home2'" (window:scroll)="onWindowScroll()">
  <img class="imagenHome" (click)="siguienteHome('home1')" src="assets/vertical/NOMBRE-DLE-FILTRO-HOME.png"/>
        <div class="row text-center">
          <div class="col">
     <img class="img-fluid ciudadEspejo2"  src="assets/vertical/CABEZOTE-GRANDE.png"/>
    <img *ngIf="cambiarCiudadEspejo" class="img-fluid ciudadEspejoFade"  src="assets/vertical/CABEZOTE-GRANDE-EN-CONTORNOS.png"/>
     </div>
     </div>   

 <div class="container2">

  <img class="img-fluid barraScroll" src="assets/vertical/BARRA-SCROLL.png"/>
 <img class="img-fluid botonScroll" [style.top.px]="topPosition" src="assets/vertical/SCROLL-EN-PROCESO.png"/>
  <div class="row">  
    <div class="col-md-12 my-5">
      <h5 class="h1 font-bold mb-5 texto2">¡Bienvenido, forastero, a Ciudad Espejo!  Recorre sus calles, descubre sus secretos, pero lee primero esta amable advertencia —y no suelo ser una mujer amable—: lo que ves ya no existe. Es la imagen residual de un pasado lejano. Un espejismo que he rescatado —yo, viajera del tiempo, saltadora de dimensiones, ladrona de sueños y pesadillas— de una época en que Ciudad Espejo era una ciudad como cualquiera y sus partes se conectaban  unas con otras: estaba completa, sin fisuras. Sus residentes tenían vidas caóticas y tranquilas, felices y tristes, pobres y abundantes. Es decir, ¡aburridas! Hay ahora dos versiones sobre ese pasado distante y el momento en que todo cambió y la partió en dos. ¡Y compiten las historias! ¡Y se confuden! ... ¿Podrás tú, forastero, comprender la verdad que se oculta en Ciudad Espejo? Pues, ¡adelante!</h5>
    </div>
   
   
  </div>
  <div class="row">
    <div class="col">
      <img class="flechaDerecha2" (click)="siguienteHome('home3')" src="assets/vertical/FLECHA-SIGUIENTE.png"/>  
    </div>
  </div>
    
  
</div>  
</div>

<div *ngIf="home=='home3'" class="container text-center">
  <img class="imagenHome" (click)="siguienteHome('home1')" src="assets/vertical/NOMBRE-DLE-FILTRO-HOME.png"/>
    <div class="row text-center">
      <div class="col-sm-12 ">
        <img class="img-fluid btn-group"  src="assets/vertical/MENÚ-HORIZONTAL---HOME.png"/>
      </div>
      <div class="col-12">
        <img class="img-fluid ciudadEspejo3"  src="assets/vertical/CABEZOTE-PEQUEÑO.png"/>
      </div>
      <div class="col-12">
        <img class="img-fluid mapa" usemap="#workmap" src="assets/vertical/MAPA-REFLEJADO---POR-ACTUALIZAR.png"/>
        <map name="workmap">
          <area shape="rect" coords="0,0,298,407" (click)="clickMapa('1')" >
          <area shape="rect" coords="298,0,560,407" (click)="clickMapa('2')" >
        </map>
      </div>
       <div class="col-12">
            <img class="brujula img-fluid" (click)="siguienteHome('home2')" src="assets/vertical/ICONO-escoge-una-mitad.png"/>             
        </div>
    </div>
  
        
    
  
 
</div>